---
import Navigation from "../components/Navigation.astro";
import positions_list from "../data/positions_list";
import Layout from "../layouts/Layout.astro";
import Position from "../components/Position.astro";
import education_list from "../data/education_list";
import Education from "../components/Education.astro";
---

<Layout>
	<Navigation current="experience" />
	<main class="wrapper col-span-4 md:col-span-6 lg:col-span-12">
		<div class="contact-wrapper border-b-2 border-primaryDarkGrey p-4">
			<h1 class="mb-2">Amya Moore</h1>
			<a
				href="mailto:amya.nicole.moore@gmail.com"
				class="flex flex-row items-center"
			>
				<img src="/mail.svg" alt="mail icon" class="mr-1 w-[1rem]" />
				amya.nicole.moore@gmail.com
			</a>
		</div>

		<div class="grid-wrapper md:grid md:grid-cols-2">
			<div class="experience-wrapper p-4 md:col-span-2 md:p-6 lg:col-span-1">
				<h3 class="text-primaryWhite">Work Experience</h3>
				{
					positions_list.map((exp) => (
						<Position
							position={exp.position}
							company={exp.company}
							location={exp.location}
							date={exp.date}
							description={exp.description}
						/>
					))
				}
			</div>

			<div
				class="education-wrapper p-4 md:col-span-2 md:border-t-2 md:border-primaryDarkGrey md:p-6 lg:col-span-1 lg:border-l-2 lg:border-t-0"
			>
				<h3 class="text-primaryWhite">Education</h3>
				{
					education_list.map((edu) => (
						<Education
							degree={edu.degree}
							major={edu.major}
							minor={edu.minor}
							institution={edu.institution}
							date={edu.date}
							coursework={edu.coursework}
						/>
					))
				}
				<h3 class="text-primaryWhite">Technical Skills</h3>
				<p
					class="my-8 text-primaryDarkGrey transition-all ease-in-out hover:text-primaryWhite"
				>
					HTML, CSS, JavaScript, jQuery, ReactJS, NextJS, Tailwind CSS, Figma,
					Adobe Express, Supabase, Firebase, Git, GitHub, Vercel, Agile, SCRUM,
					TypeScript
				</p>
			</div>
		</div>
	</main>
</Layout>
