---
import Navigation from "../components/Navigation.astro";
import positions_list from "../data/positions_list";
import Layout from "../layouts/Layout.astro";
import Position from "../components/Position.astro";
import education_list from "../data/education_list";
import Education from "../components/Education.astro";
---

<Layout>
	<Navigation current="experience" />

	<main class="wrapper col-span-4 md:col-span-6 lg:col-span-12">
		<div
			class="contact-wrapper flex flex-row items-end justify-between border-b-2 border-primaryDarkGrey p-4"
		>
			<h1 class="mb-2">Amya Moore</h1>
			<div class="links-wrapper">
				<a
					href="https://www.linkedin.com/in/amya-moore-a0a0b6212/"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row items-center transition-colors ease-in hover:text-primaryYellow"
				>
					<img src="linkedin.svg" alt="linkedin" class="w-[1em]" />
					<span class="mx-2 font-medium">LinkedIn</span>
				</a>
				<a
					href="https://github.com/Mia703"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row items-center transition-colors ease-in hover:text-primaryYellow"
				>
					<img src="github.svg" alt="github" class="w-[1em]" />
					<span class="mx-2 font-medium">GitHub</span>
				</a>
			</div>
		</div>

		<div class="grid-wrapper md:grid md:grid-cols-2">
			<div class="experience-wrapper p-4 md:col-span-2 md:p-6 lg:col-span-1">
				<h3 class="text-primaryWhite">Work Experience</h3>
				{
					positions_list.map((exp) => (
						<Position
							position={exp.position}
							company={exp.company}
							location={exp.location}
							date={exp.date}
							description={exp.description}
						/>
					))
				}
			</div>

			<div
				class="right-wrapper md:col-span-2 md:border-t-2 md:border-primaryDarkGrey lg:col-span-1 lg:border-l-2 lg:border-t-0"
			>
				<div class="education-wrapper p-4 md:p-6">
					<h3 class="text-primaryWhite">Education</h3>
					{
						education_list.map((edu) => (
							<Education
								degree={edu.degree}
								major={edu.major}
								minor={edu.minor}
								institution={edu.institution}
								date={edu.date}
								coursework={edu.coursework}
							/>
						))
					}
				</div>
				<div
					class="skills-wrapper p-4 md:border-t-2 md:border-primaryDarkGrey md:p-6"
				>
					<h3 class="text-primaryWhite">Skills</h3>
					<p
						class="my-8 text-primaryWhite transition-all ease-in-out hover:text-primaryWhite lg:text-primaryDarkGrey"
					>
						<span class="font-semibold capitalize">Technical Skills:</span> HTML,
						CSS, JavaScript, jQuery, Bootstrap, Next.js, React, Material UI, Tailwind
						CSS, Figma, Adobe Express, Supabase, Firebase, Git, GitHub, Vercel, Agile,
						SCRUM, TypeScript
					</p>
					<p
						class="my-8 text-primaryWhite transition-all ease-in-out hover:text-primaryWhite lg:text-primaryDarkGrey"
					>
						<span class="font-semibold capitalize"
							>Interpersonal (Soft) Skills:</span
						> Teamwork, Responsibility, Dependability, Motivation, Flexibility, Patience,
						Empathy, Problem-Solving, Research
					</p>
				</div>
			</div>
		</div>
	</main>
</Layout>
