---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import projects_list from "../data/projects-list";
import Project from "../components/Project.astro";
---

<Layout>
	<Navigation current="projects" />
	
	<div class="year-wrapper col-span-4 md:col-span-3 lg:col-span-6">
		<h2>2024</h2>
		{
			projects_list.map((project) =>
				project.year == 2024 ? (
					<div class="outer-project-wrapper my-4">
						<Project
							title={project.name}
							description={project.description}
							link={project.link}
							year={project.year}
						/>
					</div>
				) : (
					<div />
				)
			)
		}
	</div>

	<div class="year-wrapper col-span-4 md:col-span-3 lg:col-span-6">
		<h2>2023 and older</h2>
		{
			projects_list.map((project) =>
				project.year == 2023 ? (
					<div class="outer-project-wrapper my-4">
						<Project
							title={project.name}
							description={project.description}
							link={project.link}
							year={project.year}
						/>
					</div>
				) : (
					<div />
				)
			)
		}
	</div>
</Layout>
