---
import Gallery from "../components/Gallery.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout url={frontmatter.url}>
	<Navigation current="projects" />

	<section
		class="col-span-4 p-4 md:col-span-6 lg:col-span-10 lg:col-start-2 lg:p-8"
	>
		<div class="back-wrapper mb-8">
			<a
				href="/projects"
				class="flex w-fit flex-row items-center border-b-2 border-b-transparent pb-2 transition-colors ease-in hover:border-b-primaryYellow"
			>
				<img
					src="/arrow-left.svg"
					alt="arrow left icon"
					class="mr-2 w-[1rem]"
				/>
				Back to All Projects
			</a>
		</div>

		<main>
			<h2 class="mb-4">{frontmatter.title}</h2>
			<h3 class="mb-2">Project Summary</h3>
			<div class="details-wrapper mb-8 grid grid-cols-[1fr_0.5fr] gap-4">
				<div class="left-wrapper">
					<p>{frontmatter.summary}</p>
				</div>
				<div class="right-wrapper">
					<p>
						<span class="font-semibold">Languages:</span>
						{frontmatter.languages}
					</p>
					<p>
						<span class="font-semibold">Date:</span>
						{frontmatter.date}
					</p>
					<div class="links-wrapper my-2 text-right">
						{
							frontmatter.links.live_url != "" ? (
								<a
									href={frontmatter.links.live_url}
									class="flex flex-row items-center font-semibold"
									target="_blank"
									rel="noopener noreferrer"
								>
									Live Site
									<img src="/arrow.svg" alt="arrow icon" />
								</a>
							) : (
								<a href="" />
							)
						}
						{
							frontmatter.links.github_url != "" ? (
								<a
									href={frontmatter.links.github_url}
									class="flex flex-row items-center font-semibold"
									target="_blank"
									rel="noopener noreferrer"
								>
									GitHub
									<img src="/arrow.svg" alt="arrow icon" />
								</a>
							) : (
								<a href="" />
							)
						}
					</div>
				</div>
			</div>
			<!-- MD content placed below -->
			<div class="markdown-wrapper mb-8">
				<slot />
			</div>
			{
				frontmatter.cloudinary_slug != "" ? (
					<div class="project-image-wrapper">
						<h3 class="mb-2">Project Images</h3>
						<Gallery
							collection_name={frontmatter.cloudinary_slug}
							enable_gallery={frontmatter.enable_gallery}
						/>
					</div>
				) : (
					<div />
				)
			}
		</main>
	</section>
</Layout>
